<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout-noSearch-contactFooter :: layout(title=~{::title}, content=~{::section},
       navText='Admin Dashboard', footerEnabled=true)}">
<head>
  <title>Admin Dashboard</title>
</head>
<section>
  <div class="card shadow mt-4">
    <div class="card-header">
      <h4>Admin Dashboard</h4>
    </div>
    <div class="card-body">
      <p>Quick links:</p>
      <div class="d-flex flex-wrap gap-3">
        <a th:href="@{/api/admin/user-management}" class="btn btn-outline-primary">Manage Users</a>
        <a th:href="@{/api/admin/register}" class="btn btn-outline-success">Register New User</a>
        <a th:href="@{/api/logs}" class="btn btn-outline-secondary">View Activity Logs</a>
        <a th:href="@{/api/settings}" class="btn btn-outline-warning">Edit Settings</a>
        <a th:href="@{/api/admin/contact}" class="btn btn-outline-info">Edit Contact</a>
      </div>
    </div>
  </div>

  <div class="card shadow-sm" th:if="${not #lists.isEmpty(taxRates)}">
    <div class="card-header text-white" style="background-color: #e94e77">
      <h6 class="mb-0">Tax Rates Information</h6>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered mb-0">
        <thead class="table-secondary">
        <tr>
          <th>Id</th>
          <th>Country</th>
          <th>Standard Rate</th>
          <th>Reduced Rate</th>
          <th>Super Reduced Rate</th>
          <th>None Rate</th>
          <th>Other Rate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="taxRate : ${taxRates}">
          <td th:text="${taxRate.id}"></td>
          <td th:text="${taxRate.country}"></td>
          <td th:text="${taxRate.standardRate}"></td>
          <td th:text="${taxRate.reducedRate != null ? taxRate.reducedRate : 'N/A'}"></td>
          <td th:text="${taxRate.superReducedRate != null ? taxRate.superReducedRate : 'N/A'}"></td>
          <td th:text="${taxRate.noneRate != null ? taxRate.noneRate : 'N/A'}"></td>
          <td th:text="${taxRate.otherRate != null ? taxRate.otherRate : 'N/A'}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</section>
</html>
